{% extends "base.twig" %}

{% block searchInfo %}
    {{ parent() }}
    <p>{{ capes.count()|number_format }} record(s) found matching the following search parameters:</p>
    <ul class="params">
      {% for k,v in params %}
          <li>{{ v|raw }}</li>

      {% endfor %}
    </ul>
{% endblock %}

{% block body %}
  <div class="row">
    {% for k, v in capes %}
      {% if v.image is not null %}
        <div class="capeImage">
          <img src="{{ base }}/{{ v.image }}" />
        </div>
      {% endif %}
      <h1>{{v.name}}</h1>
      <div class="prt">
        {{ v|raw }}
      </div>
    {% endfor %}
  </div>
{% endblock %}
